.form {
  display: flex;
  align-items: center;
  gap: 2.3rem;

  @include onTablet() {
    gap: 1rem;
  }
}

.input {
  outline: none;
  border-radius: 0.4rem;
  border: 0.2rem solid $mainWhiteColor;
  background: $mainBlackColor;
  width: 39rem;
  padding: 1.5rem 1rem;
  color: $mainWhiteColor;
  transition: $transitionSetEase;

  &::placeholder {
    font-weight: $semiBoldFontWeight;
    color: $mainWhiteColor;
  }

  &:focus,
  &:hover {
    border: 0.2rem solid $mainBlueColor;
  }

  @include onDesktop() {
    width: 25rem;
  }

  @include onTablet() {
    width: 18.6rem;
    padding: 1rem 1rem;
  }
  @include onSmallPhone() {
    width: 14rem;
  }
}

.buttonSubscribe {
  @extend %universalBlueButton;
  @include onSmallPhone() {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}
