.cardsBlockGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(22rem, 1fr)));
  justify-content: space-evenly;
  align-items: stretch;
  justify-items: start;

  @include onTablet() {
    grid-template-columns: repeat(auto-fit, (minmax(16.5rem, 1fr)));
  }
}

.cardsBlockList {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loadingMessage {
  padding: 5rem;
  text-align: center;
  font-size: $desktopTitleFontSize;
  font-weight: $semiBoldFontWeight;

  @include onTablet() {
    font-size: $tabletTitleFontSize;
  }
}
