.featureCard {
  display: grid;
  justify-items: center;
  text-align: center;
  align-self: flex-start;
  row-gap: 2.8rem;

  @include onTablet {
    padding: 1rem;
    row-gap: 1rem;
  }
}

.featureImageWrapper {
  @extend %flexCenter;

  width: 13.6rem;
  height: 13.6rem;
  padding: 2.8rem;
  background-color: $mainBlackColor;
  border-radius: 100%;

  @include onTablet {
    width: 8rem;
    height: 8rem;
    padding: 1.6rem;
  }
}

.featureImage {
  object-fit: contain;
  height: auto;
  width: auto;
}

.featureDescription {
  font-size: 1.2rem;
  font-weight: $lightFontWeight;
  line-height: 2.2rem;

  @include onTablet {
    font-size: 1.2rem;
  }
}
