.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %mainDefaultContainerSettings;
  padding: 1.3rem 0;
  gap: 1.2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    color: $mainBlackColor;
    text-align: center;
    font-size: 1.4rem;
    font-weight: $semiBoldFontWeight;
  }

  @include onDesktop() {
    &__wrapper {
      gap: 1rem;
      font-size: 1.2rem;
    }
  }

  @include onTablet() {
    padding: 1.3rem 2.6rem;
    background-color: $mainBlueColor;
    justify-content: flex-start;
    gap: 2.6rem;
  }

  @include onPhone() {
    gap: 1rem;
    padding: 1.2rem;
  }
}

.logo {
  padding: 1.4rem 2.6rem;

  @include onDesktop() {
    padding: 0.5rem;
  }

  @include onTablet() {
    display: none;
  }
}

.burger {
  display: none;
  cursor: pointer;

  &__line {
    width: 2.6rem;
    height: 0.3rem;
    border-radius: 0.1rem;
    border-radius: 2rem;
    background-color: $mainWhiteColor;
    transition: $transitionSetEase;
  }

  @include onTablet() {
    width: 2.6rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
  }

  @include onPhone() {
    padding-left: 0rem;
  }
}

.navbarMenu {
  @extend %flexCenter;
  gap: 2.5rem;
  text-align: center;
  list-style: none;

  @include onDesktop() {
    gap: 2rem;
  }

  @include onTablet() {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: fixed;
    z-index: 4;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 56%;
    height: 100vh;
    background-color: $mainWhiteColor;
    transition: $transitionSetCubicBezier;
    font-size: 1.3rem;
    font-weight: $regularFontWeight;
    padding: 7.5rem 2.4rem 0 2.4rem;
  }
}

.open {
  left: 0%;
}

.hidden {
  display: none;
}

.leftComponent {
  width: 100%;
  @extend %flexCenter;
  gap: 3rem;

  @include onDesktop() {
    gap: 1rem;
  }

  @include onTablet() {
    width: 100%;
    gap: 2.6rem;
  }

  @include onPhone() {
    gap: 1rem;
  }
}

.leftComponentLink {
  @extend %flexCenter;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: no-repeat url('../../../../images/header/basket.svg');
  background-position: center center;

  @include onTablet() {
    background: no-repeat url('../../../../images/header/whiteBasket.svg');
    background-position: center center;
    width: 3.2rem;
    height: 3.2rem;
  }
}

.countProductsInCart {
  @extend %flexCenter;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  font-family: $mainFontFamily;
  font-size: $inStockElementProductCard;
  font-weight: $boldFontWeight;
  color: $mainWhiteColor;
  background-color: $mainBlueColor;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;

  @include onTablet() {
    background-color: $mainWhiteColor;
    color: $mainBlueColor;
  }
}
