.popoverList {
  padding: 1.5rem;
  border: solid 0.1rem $activeLinkColor;
}

.popoverLink {
  @extend %accordionTitle;

  font-weight: $semiBoldFontWeight;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.popoverListItem {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
