.wrapper {
  width: 42.5%;
  padding-top: 7.4rem;
  padding-left: 10.6rem;
  @include onTablet() {
    padding-top: 4rem;
    padding-left: 14rem;
  }
  @include onSmallTablet() {
    margin: 0 auto;
    padding-top: 0.627rem;
    padding-left: 0rem;
  }
}
.swiper {
  :global .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    @include onTablet {
      justify-content: center;
    }
  }
  :global .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    background-color: $activeProductChoiceLink;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  :global .swiper-pagination-bullet-active {
    background-color: $mainBlueColor;
  }
  :global .swiper-wrapper {
    margin: 0 auto;
  }
  :global .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
