.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.7rem;
  margin-bottom: 1.4rem;
}

.title {
  color: $mainBlackColor;
  font-size: 2.2rem;
  font-weight: $semiBoldFontWeight;
  @include onSmallTablet {
    font-size: 1.8rem;
  }
}

.newProductsLink {
  color: $mainBlackColor;
  font-size: 1.3rem;
  font-weight: $regularFontWeight;
  @include onSmallTablet {
    font-size: 1rem;
  }
}

.newProductsLink:hover {
  text-decoration: underline;
}

.errorMessage {
  font-weight: $boldFontWeight;
  font-size: $tabletTitleFontSize;
  padding: 3rem;
}
