.selectedFiltersButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;

  @extend %filtersPanelButton;
}

.selectedFiltersCount {
  color: $activeLinkColor;
}

.selectedFiltersButtonDelete {
  @extend %flexCenter;

  font-weight: $lightFontWeight;
  color: $mainWhiteColor;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100%;
  background-color: $deleteButtonColor;
  transition: $transitionSetEase;
  border: solid 0.1rem transparent;

  &:active {
    transform: translate(0.1rem 0.1rem);
    border: solid 0.1rem $mainBlackColor;
  }
}

.currentFilterCategory {
  border-bottom: none;
}
