.selectedFiltersButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  @extend %filtersPanelButton;
}

.selectedFiltersCount {
  color: $activeLinkColor;
}

.selectedFiltersButtonDelete {
  font-weight: $lightFontWeight;
  @extend %flexCenter;
  color: $mainWhiteColor;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $deleteButtonColor;
  transition: $transitionSetEase;

  &:hover,
  &:active,
  &:focus {
    transform: translate(0.1rem 0.1rem);
  }
}
