.payButtons {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.4rem;

  @include onTablet() {
    font-size: 1.3rem;
    gap: 0.7rem;
  }
}

.buttonAddToCart {
  font-size: $buttonTextTablet;
  padding: 1.4rem 3.9rem;
  @extend %blueButton;
  @include onTablet() {
    padding: 0.8rem 3.1rem;
  }
  @include onPhone() {
    padding: 0.8rem 1.8rem;
  }
}

.buttonPayPal {
  @extend %transparentTap;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.6rem 3.9rem;
  border-radius: 5rem;
  background: $payPallButtonBackground;
  transition: $transitionSetEase;

  &:active {
    transform: translateY(0.1rem);
  }

  @include onTablet() {
    padding: 1.1rem 3.1rem;
  }
  @include onPhone() {
    padding: 1.1rem 1.8rem;
  }
}
