.login {
  @extend %mainDefaultContainerSettings;
}

.linksWrapper {
  list-style: none;
  display: flex;
  padding: 1.9rem 0;

  @include onTablet() {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}

.link {
  @extend %universalLink;
  text-align: left;
}

.title {
  @extend %pageTitle;
}
