.login {
  @extend %mainDefaultContainerSettings;
}

.linksWrapper {
  list-style: none;
  display: flex;
  padding: 1.9rem 0;

  @include onTablet() {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}

.link {
  @extend %universalLink;
  text-align: left;
}

.title {
  @extend %pageTitle;
}

.loginSection {
  @extend %flexCenter;
  align-items: stretch;
  gap: 3.4rem;
  width: 100%;
  padding: 2rem 0 6rem 0;
  @include onTablet() {
    padding: 1.6rem 0;
    gap: 2rem;
  }
  @include onPhone() {
    flex-direction: column;
    gap: 1.6rem;
  }
}
