.wrapper {
  width: 42.5%;
  padding-top: 6.7rem;
  text-align: center;

  @include onTablet() {
    padding-top: 4rem;
  }
  @include onPhone() {
    width: 100%;
    margin: 0 auto;
    padding-top: 0.627rem;
    padding-left: 0rem;
  }
}

.swiper {
  overflow: hidden;
  :global .swiper-pagination {
    position: static;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;

    @include onTablet {
      justify-content: center;
    }
  }
  :global .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    background-color: $activeLinkColor;
    border-radius: 50%;
    transition: $transitionSetCubicBezier;
  }
  :global .swiper-pagination-bullet-active {
    background-color: $mainBlueColor;
  }
  :global .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
