%transparentTap {
  -webkit-tap-highlight-color: transparent;
}

%filtersPanelButton {
  @extend %transparentTap;
  color: $mainBlackColor;
  font-size: $buttonTextTablet;
  font-weight: $semiBoldFontWeight;
  line-height: 2.7rem;
  border-radius: 0.2rem;
  border: 0.1rem solid $sliderDotsBackgroundColor;
  background: $mainWhiteColor;
  padding: 0.5rem 1.7rem;
  transition: $transitionSetEase;

  &:hover {
    background-color: $productChoiceBlockBackgroundColor;
  }
  &:active {
    border-color: $mainBlackColor;
  }
}

%setProductsViewButton {
  @extend %transparentTap;
  @extend %flexCenter;
  width: 3.2rem;
  height: 3.2rem;
  transition: $transitionSetEase;
}

%universalButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  @extend %transparentTap;
  text-align: center;
  font-size: $shoppingCartCategoryDesktopSize;
  font-weight: $semiBoldFontWeight;
  border-radius: 5rem;
  border: 0.2rem solid $filterCleanButtonColor;
  padding: 1rem;
  white-space: nowrap;
  transition: $transitionSetEase;

  &:hover {
    color: $mainWhiteColor;
    background-color: $filterCleanButtonColor;
  }
  &:active {
    transform: translateY(0.1rem);
  }

  &:disabled {
    cursor: default;
    color: $mainBlackColor;
    background-color: $mainWhiteColor;
    border: 0.2rem solid $mainBlackColor;
  }

  @include onTablet() {
    font-size: $buttonTextTablet;
  }
}

%clearFilterBlockButton {
  @extend %universalButton;
  background-color: transparent;
  color: $filterCleanButtonColor;
  width: 100%;
}

%blueButton {
  width: 100%;
  @extend %universalButton;
  background-color: $mainBlueColor;
  color: $mainWhiteColor;
  border: 0.2rem solid $mainBlueColor;
  font-size: $shoppingCartCategoryDesktopSize;

  &:hover {
    color: $mainBlueColor;
    background-color: $mainWhiteColor;
    border: 0.2rem solid $mainBlueColor;
  }

  @include onTablet() {
    font-size: $buttonTextTablet;
  }
}

%blackButton {
  padding: 1rem 3rem;
  @extend %universalButton;
  background-color: $mainBlackColor;
  color: $mainWhiteColor;
  border: 0.2rem solid $mainBlackColor;
  font-size: $shoppingCartCategoryDesktopSize;

  &:hover {
    color: $mainBlackColor;
    background-color: $mainWhiteColor;
    border: 0.2rem solid $mainBlackColor;
  }

  @include onTablet() {
    font-size: $buttonTextTablet;
    width: 100%;
  }
}

%yellowButton {
  @extend %universalButton;
  background-color: $payPallButtonBackground;
  color: $supportLinksColor;
  border: 0.2rem solid $payPallButtonBackground;
  font-size: $shoppingCartCategoryDesktopSize;

  &:hover {
    color: $supportLinksColor;
    background-color: $payPallButtonBackground;
    border: 0.2rem solid $mainBlackColor;
  }

  @include onTablet() {
    font-size: $buttonTextTablet;
  }
}

%redButton {
  @extend %universalButton;
  background-color: $deleteButtonColor;
  color: $mainWhiteColor;
  border: 0.2rem solid transparent;
  font-size: $shoppingCartCategoryDesktopSize;

  &:hover {
    color: $deleteButtonColor;
    background-color: $mainWhiteColor;
    border: 0.2rem solid $deleteButtonColor;
  }

  @include onTablet() {
    font-size: $buttonTextTablet;
  }
}

%chooseProductColorButton {
  @extend %transparentTap;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  transition: $transitionSetEase;

  &:hover {
    border: 0.3rem solid $mainBlueColor;
  }
  &:active {
    transform: scale(0.9);
  }
}

%interactWithProductButton {
  @extend %transparentTap;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background-color: $filterChoiceColorProductRed;
  }
  &:active {
    transform: scale(0.9);
  }
}

%addToBasketButton {
  @extend %transparentTap;
  cursor: pointer;
  @extend %flexCenter;
  font-size: 1.4rem;
  font-weight: $boldFontWeight;
  opacity: 0;
  white-space: nowrap;
  background-color: $mainWhiteColor;
  color: $mainBlueColor;
  gap: 0.3rem;
  padding: 0rem 1rem;
  border: 0.1rem solid $mainBlueColor;
  border-radius: 5rem;
  transition: $transitionSetEase;
  height: 3.5rem;

  &:hover {
    background-color: $sliderBackgroundColor;
  }
  @include onTablet() {
    height: 3rem;
    opacity: 1;
    gap: 0.7rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
}
