$mainWhiteColor: #fff;
$mainBlackColor: #000;
$mainBlueColor: #0156ff;
$productChoiceBlockBackgroundColor: #f5f9ff;
$outpayBlockBackgroundColor: #030303;
$supportLinksColor: #313131;
$blueBorderSliderTextBlock: #00aeb8;
$mainBorderColor: #ccc;
$headerTopBackgroundColor: #020202;
$activeProductChoiceLink: #8c8c8c;
$payCounterBackgroundColor: #ebebeb;
$footerTitleColor: rgba(255, 255, 255, 0.5);
$colorProdutChoiceButtonGrey: #4b4d4f;
$colorProdutChoiceButtonIvory: #f2e9dc;
$colorProdutChoiceButtonLightGray: #eae8eb;
