$mainWhiteColor: #fff;
$mainBlackColor: #000;
$mainBlueColor: #0156ff;
$productChoiceBlockBackgroundColor: #f5f9ff;
$outpayBlockBackgroundColor: #030303;
$supportLinksColor: #313131;
$blueBorderSliderTextBlock: #00aeb8;
$sliderDotsBackgroundColor: #ccc;
$headerTopBackgroundColor: #020202;
$activeLinkColor: #8c8c8c;
$payCounterBackgroundColor: #ebebeb;
$colorProductChoiceButtonGrey: #4b4d4f;
$colorProductChoiceButtonIvory: #f2e9dc;
$colorProductChoiceButtonLightGray: #eae8eb;
$filterCleanButtonColor: #666;
$filterChoiceColorProductRed: #db0000;
$deleteButtonColor: #c94d3f;
$sliderBackgroundColor: #f5f7ff;
$mainGreenTextColor: #78a962;
$payPallButtonBackground: #ffb800;
$sliderBtnShadowColor: rgba(255, 255, 255, 0.5);
$sliderNextPrevBtnBackgroundColor: rgba(37, 41, 49, 0.5);
$sliderNextPrevBtnShadowColor: rgba(0, 0, 0, 0.5);
