%mainDefaultContainerSettings {
  margin: 0 auto;
  max-width: 142rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

%universalLink {
  @extend %transparentTap;
  font-size: $accordionTitleTablet;
  color: $mainBlackColor;
  text-decoration: none;
  transition: $transitionSetEase;
  line-height: 2.1rem;

  &:hover,
  &:active,
  &:focus {
    color: $mainBlueColor;
  }

  &:last-child {
    color: $activeLinkColor;
  }

  &:not(:last-child)::after {
    content: '›';
    margin: 0 0.8rem;
    color: $mainBlueColor;
  }
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%underlineLinkHoverEffect {
  @extend %transparentTap;
  position: relative;
  cursor: pointer;
  transition: $transitionSetEase;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.25rem;
    transition: $transitionSetEase;
    transform: scale(0);
    transform-origin: right;
    background-color: $mainBlackColor;
  }

  &:hover,
  &:active,
  &:focus {
    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}

%filtersTitle {
  color: $mainBlackColor;
  text-align: center;
  font-size: $filtersTitle;
  font-weight: $boldFontWeight;
  padding: 1.4rem 0;
}

%wrapperFilterBlock {
  background-color: $sliderBackgroundColor;
  padding: 0 1rem 1.7rem 1rem;
}

%subtitleFilterText {
  color: $mainBlackColor;
  text-align: center;
  font-size: $buttonTextTablet;
  line-height: 1.7rem;
}

%titleFilterCategory {
  @extend %transparentTap;
  font-size: $shoppingCartCategoryDesktopSize;
  color: $mainBlackColor;
  font-weight: $semiBoldFontWeight;
  text-align: left;
  position: relative;
  padding: 1.4rem 0;

  &::before {
    position: absolute;
    content: '';
    top: 30%;
    right: 0;
    width: 1.6rem;
    height: 1.5rem;
    transition: $transitionSetCubicBezier;
  }

  &.openAccordion::before {
    transform: rotate(180deg);
  }
}

%starRatingElementProductCard {
  display: block;
  position: relative;
  width: 1.3rem;
  height: 1.3rem;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @include onTablet() {
    width: 0.9rem;
    height: 0.9rem;
  }
}

%inStockElementProductCard {
  @extend %transparentTap;
  white-space: nowrap;
  padding: 0.7rem 0.5rem 0.7rem 2.7rem;
  color: $deleteButtonColor;
  font-size: $inStockElementProductCard;
  line-height: 2.1rem;
  position: relative;
}

%setupForImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

%productImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  transition: $transitionSetEase;
}

%pageTitle {
  color: $mainBlackColor;
  text-align: left;
  font-weight: $semiBoldFontWeight;
  padding-bottom: 2rem;
  font-size: $desktopTitleFontSize;

  @include onTablet() {
    padding-bottom: 1.3rem;
    font-size: $tabletTitleFontSize;
  }
}

%shoppingCartPrice {
  white-space: nowrap;
  text-align: center;
  font-size: $shoppingCartCategoryDesktopSize;
  font-weight: $semiBoldFontWeight;

  @include onTablet() {
    font-size: $shoppingCartCategoryTabletSize;
  }
}

%paymentFormTitle {
  font-size: $paymentFormTitleDesktopSize;
  font-weight: $semiBoldFontWeight;

  @include onTablet() {
    font-size: $shoppingCartCategoryDesktopSize;
  }
}

%paymentPrice {
  font-size: $buttonTextTablet;
  font-weight: $semiBoldFontWeight;
  line-height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include onTablet() {
    font-size: $accordionTitleTablet;
  }
}

%accordionTitle {
  text-align: left;
  font-size: $tabletTitleFontSize;
  @include onTablet() {
    font-size: $accordionTitleTablet;
  }
}

%cartServiceText {
  color: $supportLinksColor;
  font-size: $accordionTitleTablet;
  font-weight: $semiBoldFontWeight;
  line-height: 1.45rem;

  @include onTablet() {
    color: $mainBlackColor;
    font-size: $inStockElementProductCard;
  }
}

%cartPaymentInput {
  font-size: $shoppingCartCategoryDesktopSize;
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 1.5rem 1.7rem;
  border-radius: 0.4rem;
  border: 0.2rem solid $activeLinkColor;
  background-color: $mainWhiteColor;

  @include onTablet() {
    padding: 1.1rem 1.3rem;
    font-size: $shoppingCartCategoryTabletSize;
  }

  &:active,
  &:focus {
    border: 0.2rem solid $mainBlackColor;
  }
}

%cardFormBlock {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include onTablet() {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}

%countOfProduct {
  @extend %flexCenter;
  color: $mainWhiteColor;
  background-color: $mainBlueColor;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  font-size: $shoppingCartCategoryDesktopSize;

  @include onTablet() {
    font-size: $shoppingCartCategoryTabletSize;
  }
}
