%mainDefaultContainerSettings {
  margin: 0 auto;
  max-width: 142rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

%universalLink {
  @extend %transparentTap;
  font-size: 1.2rem;
  color: $mainBlackColor;
  text-decoration: none;
  transition: $transitionSetEase;
  line-height: 2.1rem;

  &:hover,
  &:active,
  &:focus {
    color: $mainBlueColor;
  }

  &:last-child {
    color: $activeLinkColor;
  }

  &:not(:last-child)::after {
    content: '›';
    margin: 0 0.8rem;
    color: $mainBlueColor;
  }
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%underlineLinkHoverEffect {
  @extend %transparentTap;
  position: relative;
  cursor: pointer;
  transition: $transitionSetEase;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.25rem;
    transition: $transitionSetEase;
    transform: scale(0);
    transform-origin: right;
    background-color: $mainBlackColor;
  }

  &:hover,
  &:active,
  &:focus {
    &::after {
      transform: scale(1);
      transform-origin: left;
    }
  }
}

%filtersTitle {
  color: $mainBlackColor;
  text-align: center;
  font-size: 1.6rem;
  font-weight: $boldFontWeight;
  padding: 1.4rem 0;
}

%wrapperFilterBlock {
  background-color: $sliderBackgroundColor;
  padding: 0 1rem 1.7rem 1rem;
}

%subtitleFilterText {
  color: $mainBlackColor;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

%titleFilterCategory {
  @extend %transparentTap;
  color: $mainBlackColor;
  font-size: 1.4rem;
  font-weight: $semiBoldFontWeight;
  text-align: left;
  position: relative;
  padding: 1.4rem 0;

  &::before {
    position: absolute;
    content: '';
    top: 30%;
    right: 0;
    width: 1.6rem;
    height: 1.5rem;
    transition: $transitionSetCubicBezier;
  }

  &.openAccordion::before {
    transform: rotate(180deg);
  }
}

%starRatingElementProductCard {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @include onTablet() {
    width: 0.9rem;
    height: 0.9rem;
  }
}

%inStockElementProductCard {
  @extend %transparentTap;
  white-space: nowrap;
  padding: 0.7rem 0.5rem 0.7rem 2.7rem;
  color: $deleteButtonColor;
  font-size: 1rem;
  line-height: 2.1rem;
  position: relative;
}

%setupForImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

%productImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  transition: $transitionSetEase;
}

%transparentTap {
  -webkit-tap-highlight-color: transparent;
}

%pageTitle {
  color: $mainBlackColor;
  text-align: left;
  font-size: $largeTitleFontSize;
  font-weight: $semiBoldFontWeight;
  padding-bottom: 2rem;

  @include onTablet() {
    font-size: $regularTitleFontSize;
    font-weight: $semiBoldFontWeight;
    padding-bottom: 1.6rem;
  }

  @include onPhone() {
    padding-bottom: 1.3rem;
  }
}

%shoppingCartItem {
  font-size: $shoppingCartCategoryLargeFontSize;
  font-style: normal;
  font-weight: $semiBoldFontWeight;
  @include onTablet() {
    font-size: $shoppingCartCategoryRegularFontSize;
  }
}

%shoppingCartPrice {
  white-space: nowrap;
  text-align: center;
  font-size: 1.6rem;
  font-weight: $semiBoldFontWeight;
  @include onTablet() {
    font-size: 1.2rem;
  }
}
