$mainFontFamily: 'Poppins';
$lightFontWeight: 300;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$semiBoldFontWeight: 600;
$boldFontWeight: 700;
$mainFontSize: 10px;
$minWidth: 32rem;
$maxWidthContainer: 142rem;
