.shoppingCartProductItem {
  padding: 2.5rem 0;
  border-bottom: 0.1rem solid $activeLinkColor;
  @include onTablet() {
    padding: 1.6rem 0 1rem 0;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @include onTablet() {
    flex-direction: column;
  }
}

.description {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 62%;
  @include onTablet() {
    width: 100%;
  }
}

.productImageWrapper {
  @extend %flexCenter;
  min-height: 12rem;
  min-width: 12rem;
  overflow: hidden;
  @include onTablet() {
    min-width: 6.8rem;
    min-height: 6.8rem;
  }
}

.productImage {
  @extend %setupForImage;
  transition: $transitionSetEase;
  &:hover {
    transform: scale(1.02);
  }
}

.descriptionText {
  @extend %transparentTap;
  max-width: 25rem;
  font-size: 1.4rem;
  @include onTablet() {
    font-size: 1rem;
    max-width: 100%;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $activeLinkColor;
  }
}

.amount {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  @include onTablet() {
    width: 100%;
  }
}

.price {
  @extend %shoppingCartPrice;
  width: 10rem;
}

.subtotalPrice {
  @extend %shoppingCartPrice;
  width: 10rem;
}

.editingButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.6rem;
}

.editButton {
  background-color: transparent;
  transition: $transitionSetEase;
  border-radius: 50%;
  &:hover {
    filter: invert(80%);
    transform: translateY(-0.1rem);
  }
  &:active {
    transform: translateY(0.1rem);
  }
}
