.topButtonCloseOnMobile {
  display: none;
  background-color: transparent;
  font-size: 1.8rem;
  position: absolute;
  top: 1.4rem;
  right: 0;

  @include onPhone {
    display: block;
  }
}

.filterBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include onPhone() {
    gap: 0;
  }
}

.filtersWrapper {
  @extend %flexCenter;
  flex-direction: column;
  background-color: $sliderBackgroundColor;
  padding: 2rem 1rem;

  @include onPhone() {
    padding: 2rem;
    background-color: $mainWhiteColor;
  }
}

.filters {
  width: 100%;
  position: relative;
}

.filtersHeader {
  padding-bottom: 1.7rem;
}

.title {
  @extend %filtersTitle;

  @include onPhone() {
    text-align: left;
    padding-bottom: 1.6rem;
    border-bottom: 0.2rem solid $activeLinkColor;
  }
}

.clearFiltersButton {
  @extend %clearFilterBlockButton;
  margin-top: 1.6rem;
}

.applyFiltersButton {
  margin-top: 1rem;
  @extend %blueButton;
}

.brandsWrapper {
  background-color: $sliderBackgroundColor;

  @include onPhone() {
    background-color: $mainWhiteColor;
  }
}

.brandsHeader {
  padding: 0 1rem 1.7rem 1rem;
}

.brandsTitle {
  @extend %filtersTitle;
}

.brandsButton {
  @extend %clearFilterBlockButton;
}

.brandsImages {
  background-color: $mainWhiteColor;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
}

.selectedList {
  @extend %wrapperFilterBlock;

  @include onPhone() {
    display: none;
  }
}

.listTitle {
  @extend %filtersTitle;
}

.listSubtitle {
  @extend %subtitleFilterText;
  margin-bottom: 1rem;
  text-align: left;
}

.listNoItems {
  @extend %subtitleFilterText;
  text-align: center;
}

.resetListButton {
  @extend %clearFilterBlockButton;
  padding: 0.5rem 0;
}

.advertisingImageWrapper {
  @include onPhone() {
    display: none;
  }
}

.advertisingImage {
  @extend %setupForImage;
}
