.priceWrapper {
  color: $mainBlackColor;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $regularFontWeight;
  @include onTablet() {
    font-size: 1.2rem;
    word-wrap: break-word;
    max-width: 8rem;
  }
  @include onPhone() {
    border-radius: 1rem;
    padding: 1rem 0;
    max-width: none;
    width: 100%;
    background-color: $productChoiceBlockBackgroundColor;
  }
}
.priceTextMark {
  font-weight: $semiBoldFontWeight;
}
