.search {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.icon {
  cursor: pointer;

  @extend %flexCenter;

  transition: $transitionSetCubicBezier;

  @include onDesktop {
    width: 3.2rem;
    height: 3.2rem;
  }

  @include onTablet {
    display: none;
  }

  &.openSearchInput {
    display: none;
  }
}

.input {
  font-size: $shoppingCartCategoryTabletSize;
  position: relative;
  opacity: 0;
  border: 0.2rem solid transparent;
  outline: none;
  border-radius: 2.5rem;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  transition: $transitionSetEase;
  background-color: $payCounterBackgroundColor;
  background-image: url('../../../../../images/header/searchGray.svg');
  background-position: 1.5rem center;
  background-repeat: no-repeat;

  @include onTablet {
    font-size: $shoppingCartCategoryTabletSize;
    height: 4.5rem;
    padding: 0 1.2rem 0 3.8rem;
    opacity: 1;
    width: 100%;
    background-color: $mainWhiteColor;
  }

  &::placeholder {
    color: $sliderDotsBackgroundColor;
    font-size: $shoppingCartCategoryDesktopSize;

    @include onTablet {
      font-size: $shoppingCartCategoryTabletSize;
    }
  }

  &.openSearchInput {
    padding: 1.5rem 3rem 1.5rem 4rem;
    width: 100%;
    opacity: 1;
    border-radius: 3.1rem;
    background-color: $payCounterBackgroundColor;
  }
}

.searchClean {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-200%, -50%);
  font-size: $desktopTitleFontSize;

  @include onTablet {
    font-size: $tabletTitleFontSize;
  }
}
