.catalogContainer {
  @extend %mainDefaultContainerSettings;
}

.catalogBannerImage {
  max-width: 100%;
  height: auto;
  object-fit: contain;

  @include onPhone {
    display: none;
  }
}

.linksWrapper {
  list-style: none;
  display: flex;
  padding: 1.9rem 0;

  @include onTablet {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}

.link {
  @extend %universalLink;

  text-align: left;
}

.titleProducts {
  @extend %pageTitle;
}

.errorMessage {
  font-weight: $boldFontWeight;
  font-size: $tabletTitleFontSize;
  padding: 3rem;
}
