.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  text-align: left;
  line-height: 2.3rem;
  @extend %shoppingCartPrice;
}

.input {
  @extend %cartPaymentInput;
}

.textDanger {
  color: $filterChoiceColorProductRed;
}
