.profile {
  padding: 2rem;
}

.title {
  @extend %pageTitle;
}

.subtitle {
  text-align: left;
  @extend %shoppingCartPrice;
  margin-bottom: 1rem;
}

.button {
  @extend %blackButton;
  max-width: 20rem;
}
