.leftBlock {
  display: flex;
  align-items: center;
  gap: 2rem;
  @include onTablet() {
    gap: 1.6rem;
  }
}
.counter {
  display: flex;
  align-items: center;
  padding: 0.42rem 0.7rem 0.42rem 0;
  color: $mainBlackColor;
  background: $payCounterBackgroundColor;
  border-radius: 0.6rem;
}
.count {
  width: 3.2rem;
  height: 3.4rem;
  @extend %flexCenter;
  color: $mainBlackColor;
  text-align: center;
  font-size: 1.1rem;
  font-weight: $semiBoldFontWeight;
  line-height: 2.3rem;
  @include onTablet() {
    width: 3.3rem;
    height: 3rem;
  }
}
.controlButtons {
  display: flex;
  flex-direction: column;
}
.controlButton {
  cursor: pointer;
  background: $payCounterBackgroundColor;
  &:active {
    .controlButtonIcon {
      filter: invert(1);
    }
  }
}
