.categoryTitle {
  @extend %titleFilterCategory;

  &::before {
    background-image: url('../../../../images/CatalogPage/spoiller.svg');
  }
}

.categoryItems {
  list-style: none;
  color: $mainBlackColor;
  font-size: 1.3rem;
  line-height: 2.7rem;
  overflow: hidden;
  height: 0;
  transition: $transitionSetCubicBezier;
}

.openAccordion {
  height: auto;
}

.categoryItemLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  colo &:hover,
  &:focus,
  &:active {
    color: $activeLinkColor;
  }
}

.chooseProductColorButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.colorChoiceButton {
  width: 2.7rem;
  height: 2.7rem;
  border: 0.3rem solid $sliderBackgroundColor;
  transition: $transitionSetEase;

  &:hover {
    border-color: $activeLinkColor;
  }
}

.buttonSetProductColorRed {
  background-color: $filterChoiceColorProductRed;
}

.buttonSetProductColorBlack {
  background-color: $mainBlackColor;
}

.selectedElementColor {
  border: 0.3rem solid $mainBlueColor;
}
