.productsWrapper {
  display: flex;
  column-gap: 0.7rem;
  padding-bottom: 1rem;
}

.filterPart {
  display: flex;
  flex-direction: column;
  width: 20%;

  @include onTablet {
    width: 45%;
  }

  @include onPhone {
    overflow: auto;
    gap: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    position: fixed;
    z-index: 4;
    inset: 0 0 0 -100%;
    width: 100%;
    height: 100vh;
    transition: $transitionSetCubicBezier;
    font-weight: $regularFontWeight;
  }

  &.openFilterMenu {
    left: 0%;
  }
}

.topButtonCloseOnMobile {
  display: none;
  background-color: transparent;
  font-size: 1.8rem;
  position: absolute;
  top: 1.4rem;
  right: 0;

  @include onPhone {
    display: block;
  }
}

.productsPart {
  width: 100%;
}

.whiteBackButton {
  @extend %flexCenter;

  position: relative;
  padding: 1.5rem 0;
  color: $mainBlackColor;
  font-size: 1.4rem;
  font-weight: $semiBoldFontWeight;
  text-align: center;
  outline: none;

  @extend %underlineLinkHoverEffect;

  @include onTablet {
    display: none;
  }
}

.selectedFiltersPanelClearButton {
  @extend %filtersPanelButton;
}

.selectedFiltersPanel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7rem;

  @include onTablet {
    display: none;
  }
}
