.newCustomerBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $productChoiceBlockBackgroundColor;
  padding: 4rem 6rem;

  @include onTablet {
    padding: 2rem;
  }
}

.title {
  @extend %accordionTitle;

  font-weight: $semiBoldFontWeight;
}

.creatingList {
  padding: 1rem 0;

  @extend %accordionTitle;
}

.creatingListItem {
  display: list-item;
  list-style-type: '•';
  padding-inline-start: 0.5rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;

  @include onSmallTablet {
    gap: 1.3rem;
  }
}

.createAnAccountButton {
  @extend %blueButton;
}
