.buttons {
  display: flex;
  gap: 1.8rem;
  padding-bottom: 3rem;

  @include onTablet {
    padding-bottom: 3.2rem;
  }

  @include onPhone {
    padding-bottom: 1.8rem;
  }
}

.colorChoiceButton {
  @extend %chooseProductColorButton;
}

.buttonChoiceProductGrey {
  background-color: $colorProductChoiceButtonGrey;
}

.buttonChoiceProductIvory {
  background-color: $colorProductChoiceButtonIvory;
}

.buttonChoiceProductLightGray {
  background-color: $colorProductChoiceButtonLightGray;
}

.selected {
  border: 0.3rem solid $mainBlueColor;
}
